{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "airbnb/hooks"
  ],
  "rules": {
    "no-use-before-define": "off",
    "no-param-reassign": "off",
    "import/extensions": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "jsx-a11y/label-has-associated-control": [ 2, {
      "components": [ "Label" ],
      "required": {
          "some": [ "nesting", "id" ]
      }
    }],
    "space-before-function-paren": 0,
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
            ".js",
            ".ts",
            ".jsx",
            ".tsx"
        ]
      }
    ],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      },
    ],
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 0,
    "react/require-default-props": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-cycle": 0,
    "import/no-unresolved": 0,
    "no-unused-vars": 0,
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "import/export": 0,
    "func-names": 0,
    "semi": [1, "always"] // 1 is for warning
  },
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "18"
    }
  }
}